* {
  box-sizing: border-box;
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

a:active,
a:focus,
a:hover,
a:link,
a:visited {
  color: #007CCF;
}

blockquote {
  font-style: italic;
  padding-left: 1rem;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
}

button {
  color: #007CCF;
  border: none;
  outline: none;
  cursor: pointer;
}

code {
  color: #54BA6F;
  background-color: #000000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
}

pre>code {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
}

h2 {
  margin-top: 2rem;
}

p>img {
  border-radius: 0%;
  height: 100%;
  width: 100%;
}

li>ol,
li>ul {
  margin-top: 0rem;
  padding-left: 1rem;
}

h4,
hr,
ol,
p,
ul,
input {
  margin-top: 1rem;
}

table {
  margin-top: 1rem;
}

td,
th {
  padding-right: 0.5rem;
}

td {
  border-top: 1px solid #000000;
}

input {
  border-color: #007CCF;
  border-style: none !important;
}

.container {
  height: 100%;
  margin: auto;
  padding-top: 8rem;
  width: 34rem;
}

@media screen and (max-width: 480px) {
  ol {
    margin-left: 2rem;
  }

  ul {
    margin-left: 1rem;
  }

  .container {
    padding: 1rem;
    width: 100%;
  }

  h4 {
    display: none;
  }

  span.noteinfo {
    visibility: hidden;
    display: none;
  }
}