<div class="intro">
	<div class="image">
		<img src="/image.jpg">
	</div>
	<div class="name">
		<h1>John Forstmeier</h1>
	</div>
</div>
<div class="body">
	<h2>About</h2>
	<p>John is a full-stack engineer at Shipyard and a side project builder.</p>
	<p>He is a periodic writer and in his spare time, he enjoys lifting, yoga, and reading.</p>
	<p>John lives in Philadelphia, PA and can be reached via direct message on Twitter.</p>
	<h2>Links</h2>
	<ul>
		<li>
			<a href="https://twitter.com/forstmeier">Twitter</a>
		</li>
		<li>
			<a href="https://github.com/forstmeier">GitHub</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/johnforstmeier">LinkedIn</a>
		</li>
		<li>
			<a href="https://www.instagram.com/johnforstmeier/">Instagram</a>
		</li>
		<li>
			<a href="https://angel.co/forstmeier">AngelList</a>
		</li>
		<li>
			<a href="https://paper.dropbox.com/doc/README--At1fi1RtVZAdWo8g3023SJrGAg-Rllw807umU4LK0k8XhtwT">README</a>
		</li>
	</ul>
</div>