<div>
	<h1>John Forstmeier</h1>
</div>
<div class="body">
	<h2>About</h2>
	<p>John is a full-stack engineer at Shipyard and enjoys building side projects, writing, reading, drawing, and
		lifting.</p>
	<p>John plans on participating in early-stage startups in hard-tech industries as well as operating his own
		independent side project.</p>
	<p>John can be reached via direct message on Twitter.</p>
	<h2>Links</h2>
	<ul>
		<li>
			<a href="https://twitter.com/forstmeier">Twitter</a>
		</li>
		<li>
			<a href="https://github.com/forstmeier">GitHub</a>
		</li>
		<li>
			<a href="https://www.instagram.com/johnforstmeier/">Instagram</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/johnforstmeier">LinkedIn</a>
		</li>
		<li>
			<a href="https://angel.co/forstmeier">AngelList</a>
		</li>
	</ul>
</div>