<div>
	<h1>John Forstmeier</h1>
</div>
<div class="body">
	<h2>About</h2>
	<p>John is a full-stack engineer at Shipyard and a side project builder.</p>
	<p>He is a periodic writer and in his spare time he enjoys lifting, yoga, and reading.</p>
	<p>John lives in Philadelphia, PA and can be reached via direct message on Twitter.</p>
	<h2>Links</h2>
	<ul>
		<li>
			<a href="https://twitter.com/forstmeier">Twitter</a>
		</li>
		<li>
			<a href="https://github.com/forstmeier">GitHub</a>
		</li>
		<li>
			<a href="https://www.instagram.com/johnforstmeier/">Instagram</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/johnforstmeier">LinkedIn</a>
		</li>
		<li>
			<a href="https://angel.co/forstmeier">AngelList</a>
		</li>
		<li>
			<a href="https://forstmeier.notion.site/README-6ca0ec6fe9624e7e86dbdfb84a4a8c39">README</a>
		</li>
	</ul>
</div>