<div>
	<h1>John Forstmeier</h1>
</div>
<div class="body">
	<h2>About</h2>
	<p>
		I'm a senior engineer at
		<a href="https://www.shipyardapp.com/" target="_blank">Shipyard</a> and founder at
		<a href="https://automated.capital/" target="_blank">Automated Capital</a>. In my
		spare time I enjoy building side projects, writing, reading, drawing, and lifting.
	</p>
	<p>
		My plans are to work in early-stage startups in hard-tech industrial sectors as
		well as operating my own independent side project.
	</p>
	<p>I can be reached via direct message on Twitter.</p>
	<h2>Links</h2>
	<ul>
		<li>
			<a href="https://twitter.com/forstmeier" target="_blank">Twitter</a>
		</li>
		<li>
			<a href="https://github.com/forstmeier" target="_blank">GitHub</a>
		</li>
		<li>
			<a href="https://www.instagram.com/johnforstmeier/" target="_blank">Instagram</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/johnforstmeier" target="_blank">LinkedIn</a>
		</li>
		<li>
			<a href="https://angel.co/forstmeier" target="_blank">AngelList</a>
		</li>
	</ul>
</div>