* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #FFFFFF;
}

a:active,
a:focus,
a:hover,
a:link,
a:visited {
  color: #BBE1FA;
}

a:active.sneaky,
a:focus.sneaky,
a:hover.sneaky,
a:link.sneaky,
a:visited.sneaky {
  color: #FFFFFF;
  text-decoration: none;
}

blockquote {
  font-style: italic;
  padding-left: 1rem;
}

body,
html {
  height: 100%;
  width: 100%;
}

button {
  color: #BBE1FA;
  border: none;
  outline: none;
}

h2,
.giphy-embed {
  margin-top: 2rem;
}

iframe {
  display:block;
  width:100%;
}

img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

li > ul {
  margin-top: 0rem;
  padding-left: 1rem;
}

h4,
hr,
ol,
p,
ul,
.filters,
.note {
  margin-top: 1rem;
}

.container {
  height: 100%;
  margin: auto;
  padding-top: 8rem;
  width: 34rem;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.link,
.link span {
  transition: all 0.5s;
}

.link span:after {
  content: '📎';
  opacity: 0;
  transition: all 0.5s;
}

.name {
  font-size: 26px;
  margin-left: 2rem;
}

.note {
  cursor: pointer;
}

.note:hover .link span:after {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  ul {
    margin-left: 1rem;
  }

  .container {
    padding: 1rem;
    width: 100%;
  }

  .intro {
    display: block;
  }

  .image {
    display: none;
  }

  .name {
    font-size: 20px;
    padding-top: 2rem;
    margin-left: 0;
  }
}
